<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BotBits" version="1.4.3" targetFramework="net45" />
  <package id="BotBits.ChatExtras" version="1.1.1" targetFramework="net45" />
  <package id="BotBits.Commands" version="1.1.1" targetFramework="net45" />
  <package id="BotBits.Permissions" version="1.1.0" targetFramework="net45" />
  <package id="PlayerIOClient-Signed" version="3.2.353" targetFramework="net45" />
</packages>