<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BotBits" version="211.2.2" targetFramework="net45" />
  <package id="BotBits.ChatExtras" version="1.1.2" targetFramework="net45" />
  <package id="BotBits.Commands" version="1.2.6" targetFramework="net45" />
  <package id="BotBits.Permissions" version="2.0.2" targetFramework="net45" />
  <package id="PlayerIOClient-Signed" version="3.2.483" targetFramework="net45" />
</packages>